html{
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

nav, .collapse{
  z-index: 10000 !important;
}
body{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
header h1{
  text-align: center;
  text-transform: uppercase;
  color: #4D42E0;
}
form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content form{
  border-radius: 10px;
  background: linear-gradient(185deg, rgba(205,180,219,1) 6%, rgba(255,200,221,1) 40%, rgba(162,210,255,1) 100%);
}
.list-input{
  outline: none;
}
.list-input:focus{
  outline: none;
}
.add-btn{
  background: #4274e0;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  padding: 8px;
  margin-left: 5px;
  margin-right: 5px;
}
.toDO{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0;
}
.todo-item{
  list-style: none;
}

.check{
  border-radius: 12px;
  border: none;
  background: #EEE600;
  margin-left: 10px;
}
.header{
  position: relative;
  background:  linear-gradient(185deg, rgba(205,180,219,1) 6%, rgba(255,200,221,1) 40%, rgba(162,210,255,1) 100%);
}


@media only screen and (max-width: 600px){
  .header{
    position: relative;
    height: 70vh;
    background:  linear-gradient(185deg, rgba(205,180,219,1) 6%, rgba(255,200,221,1) 40%, rgba(162,210,255,1) 100%);
  }
  .header .logo{
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 400px;
    height: 300px;
  }
  .text{
    font-family: "CLARENDON";
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #6d6875;
  }
  .boxes{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
  }
  .box img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    background: #e2eafc;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    transform: scale(1);
    box-shadow: -2px -1px 21px -5px rgba(45,46,49,1);
    -webkit-box-shadow: -2px -1px 21px -5px rgba(45,46,49,1);
    -moz-box-shadow: -2px -1px 21px -5px rgba(45,46,49,1);
  }
  .box:hover img{
    background: #abc4ff;
    transform: scale(1.1);
  }
  .todo-input-box{
    background: #f1f1ee;
    border-radius: 20px;
    border-top: 5px solid #4274e0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .todo-input-box h3{
   text-align: center;
   text-transform: uppercase;
   color: #6d6875;
   font-weight: bold;
  }
 .toDO{
  background: #abc4ff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100% !important;
  text-align: left !important;
  border-radius: 12px;
  border-left: 4px solid #4D42E0;
  margin-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  }
.todo-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

  .toDO .trash-btn{
    background: transparent;
    border-radius: 8px;
    border: none;
    padding: 3px;
    color: #03045e;
    transition: all 0.2s ease-in-out;
  }
  .toDO .trash-btn:hover{
    color: tomato;
  }
  .toDO .check-btn{
    background: transparent;
    border-radius: 8px;
    border: none;
    padding: 3px;
    margin-left: 10px;
    color: #2a9d8f;
    transition: all 0.2s ease-in-out;

  }
  .toDO .check-btn:hover{
    color: #e63946;
  }
}
